[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[40FA4C15FA4C0A1C]
row=0
col=0

[1404CE0204CDE6B8]
row=1
col=0

[AC3895FC3895C62C]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/adriano]
row=5
col=0

